################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Contracts/obj/Debug
/CoreService/bin/x64/Debug
/CoreService/obj/x64/Debug
/packages
/FabricWCF/pkg/Debug
*.suo
/IoC/obj/Debug
/IoC/bin/Debug
*.user
/Contracts/bin/Debug
/FabricWCF/obj/x64/Debug
/NewsReader/bin/Debug
/NewsReader/obj/Debug
/Reader.ServiceClient/bin/Debug
/Reader.ServiceClient/obj/Debug
/Reader.ViewModels/bin/Debug
/Reader.ViewModels/obj/Debug
/Reader.UI/bin/Debug
/Reader.UI/obj/Debug
/Reader.Controls/bin/Debug
/Reader.Controls/obj/Debug
/Contracts/bin/Release
/Contracts/obj/Release
/CoreService/bin/x64/Release
/CoreService/obj/x64/Release
/FabricWCF/bin/Release
/FabricWCF/obj/x64/Release
/IoC/bin/Release
/IoC/obj/Release
/Reader.Controls/bin/Release
/Reader.Controls/obj/Release/TempPE
/Reader.Controls/obj/Release/Themes
/Reader.Controls/obj/Release
/Reader.ServiceClient/bin/Release
/Reader.ServiceClient/obj/Release
/Reader.UI/bin/Release
/Reader.UI/obj/Release/TempPE
/Reader.UI/obj/Release
/Reader.ViewModels/bin/Release
/Reader.ViewModels/obj/Release
/FabricWCF/pkg/Release
/.vs/FabricWCF/v15/Server/sqlite3
